[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-smorest = "*"
python-dotenv = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
marshmallow = "*"

[dev-packages]
black = ">=22.8.0"
flake8 = ">=5.0.4"
isort = ">=5.10.1"
pytest = ">=7.1.3"
pytest-cov = ">=3.0.0"

[requires]
python_version = "3.10"

[scripts]
start = "flask run"
